<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- 自定义推进器配置，支持参数化位置 -->
  
  <!-- 定义推进器位置参数 -->
  <xacro:arg name="thruster_pos_x" default="-2.373776" />  <!-- 前后位置，默认-2.37米（船尾） -->
  <xacro:arg name="thruster_pos_y_left" default="1.027135" />  <!-- 左侧推进器横向位置，默认1.03米 -->
  <xacro:arg name="thruster_pos_y_right" default="-1.027135" />  <!-- 右侧推进器横向位置，默认-1.03米 -->
  <xacro:arg name="thruster_pos_z" default="0.318237" />  <!-- 垂直位置，默认0.32米 -->

  <xacro:include filename="$(find usv_sim_full)/description/urdf/thrusters/engine.xacro" />
  
  <!-- 使用参数定义推进器位置 -->
  <xacro:engine 
    prefix="left" 
    position="$(arg thruster_pos_x) $(arg thruster_pos_y_left) $(arg thruster_pos_z)" />
  <xacro:engine 
    prefix="right" 
    position="$(arg thruster_pos_x) $(arg thruster_pos_y_right) $(arg thruster_pos_z)" />

  <xacro:macro name="thruster_plugin" params="name">
    <gazebo>
      <plugin filename="gz-sim-thruster-system" name="gz::sim::systems::Thruster">
        <joint_name>${namespace}/${name}_engine_propeller_joint</joint_name>
        <thrust_coefficient>0.004422</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.2</propeller_diameter>
        <velocity_control>true</velocity_control>
        <max_thrust_cmd>853.95</max_thrust_cmd>
        <namespace>${namespace}</namespace>
        <topic>thrusters/${name}/thrust</topic>
        <name>${name}</name>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>${namespace}/${name}_chassis_engine_joint</joint_name>
        <use_velocity_commands>true</use_velocity_commands>
        <topic>${namespace}/thrusters/${name}/pos</topic>
        <name>${name}</name>
      </plugin>
    </gazebo>
  </xacro:macro>
  <xacro:thruster_plugin name="left" />
  <xacro:thruster_plugin name="right" />

</robot>
